.flex-box {
  display: flex;
}

.body {
  background-color: #e5e5e5;
}

.container {
  width: 325px;
}

.head-container {
  width: 325px;
}

.rectangle {
  height: 2px;
  width: 20px;
  background-color: #c4c4c4;
  margin: 6px 0;
}

.menu-button {
  display: block;
  padding-left: 274px;
  padding-top: 13px;
}

#yellow-triangle {
  position: absolute;
  left: 0;
  width: 74px;
  height: 74px;
  top: 0;
  background-blend-mode: normal, overlay, normal;
}

#red-square {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 37px;
  top: 0;
  background-blend-mode: normal, overlay, normal;
}

.yellow-triangle {
  height: 0px;
  width: 0px;
  top: -80px;
  border-top: 4.3em solid transparent;
  border-right: 4.3em solid transparent;
  border-bottom: 4.3em solid #fec25a;
  border-left: 4.3em solid transparent;
  position: absolute;
  left: -80px;
  rotate: 315deg;
  background-blend-mode: normal, overlay, normal;
}

.red-square {
  position: absolute;
  width: 74px;
  height: 74px;
  left: 38px;
  top: 14px;
  background: #e35461;
  rotate: 45deg;
  background-blend-mode: normal, overlay, normal;
}

.name {
  font-family: Playfair Display, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  line-height: 120%;
  color: #1a2236;
  text-align: left;
  vertical-align: top;
  padding: 20px 84px 0 6px;
}

.about-me {
  font-family: Poppins, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  letter-spacing: unset;
  margin-top: 20px;
  padding: 0 16px 20px 16px;
}

.rectangle-button {
  width: 288px;
  height: 50px;
  padding-left: 16px;
  right: 16px;
  padding-bottom: 0;
  background-color: #1a2236;
}

.rectangle-button h1 {
  font-family: Poppins, Roboto, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding-top: 12px;
  padding-left: 16px;
  left: 58px;
  top: 402px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  padding-right: 16px;
}
